nav {
    padding: $content-gap 0;
    background-color: var(--neutral-300);

    @media screen and (max-width: map-get($media-queries, desktop-min)) {
        padding: $content-gap 20px;
    }


    .nav-container {
        @include container;
        @include flexbox(space-between, center, null, null);

        @media screen and (max-width: map-get($media-queries, desktop-min)) {
            padding: 0;
        }

        a {
            @include typography( content, largest, 500, var(--neutral-900) );
            @include flexbox(null, center, null, null);
            text-decoration: none;
            transition: color .3s ease;
            gap: .5rem;

            &:hover {
                color: var(--accent-400);
            }
        }

        .nav-menu {
            z-index: 100;

            @media screen and (max-width: map-get($media-queries, desktop-min)) {
                display: none;
            }

            ul {
                @include flexbox(null, null, row, null);
                gap: 1rem;

                li {
                    list-style: none;
                    position: relative;

                    a {
                        @include typography( content, medium, 400, var(--neutral-900) );
                        @include flexbox(null, center, null, null);
                    }

                    .sub-menu {
                        position: absolute;
                        flex-direction: column;
                        border-radius: 1rem;
                        width: max-content;
                        padding: $content-gap;
                        border: 1px solid var(--accent-400);

                        height: 0;
                        overflow: hidden;
                        opacity: 0;

                        transition: height 0.1s ease;

                        background-color: var(--neutral-300);

                        li {
                            border-radius: .6rem;
                            padding: $content-gap;
                            transition: all 0.1s ease;

                            i {
                                @include flexbox(center, center, null, null);
                                background-color: var(--neutral-300);
                                padding: $content-gap;
                                border-radius: 1rem;
                                width: 1em;
                            }

                            a {
                                gap: $content-gap;
                                .nav-link-text {
                                    @include flexbox(flex-start, flex-start, column, null);

                                    .nav-link-title {
                                        @include typography( content, medium, 500, var(--neutral-900) );
                                    }

                                    .nav-link-description {
                                        @include typography( content, small, 400, var(--neutral-800) );
                                    }
                                }
                            }
                        }

                        li:hover {
                            background-color: var(--accent-400);

                            i {
                                transition: all 0.1s ease;
                                scale: 1.05;
                            }

                            a {
                                .nav-link-title {
                                    @include typography( content, medium, 500, var(--neutral-300) );
                                }

                                .nav-link-description {
                                    @include typography( content, small, 400, var(--neutral-500) );
                                }
                            }

                        }
                    }
                }

                li:has(.sub-menu):hover {
                    .sub-menu {
                        height: max-content;
                        opacity: 1;
                    }
                }
            }

            .nav-menu__list {
                @include flexbox(null, null, row, null);
                gap: 1rem;

                .nav-menu__item {
                    cursor: pointer;
                    position: relative;

                    a,
                    .nav-menu__dropdown-title {
                        @include typography( content, medium, 400, var(--neutral-900) );
                    }

                    .nav-menu__dropdown {
                        position: absolute;
                        display: none;
                        background-color: var(--neutral-400);
                        border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;

                        a {
                            @include typography(content, medium, 400, var(--neutral-900));
                            padding: $content-gap;
                            text-align: left;
                            transition: all 0.1s ease;
                            white-space: nowrap;
                            display: flex;
                            justify-content: space-between;
                            width: 260px;

                            &:hover {
                                background-color: var(--accent-400);
                                color: var(--neutral-300);
                            }
                        }

                        a:last-of-type {
                            border-bottom-left-radius: .8rem;
                            border-bottom-right-radius: .8rem;
                        }
                    }

                }

                .nav-menu__item:hover .nav-menu__dropdown {
                    display: block;
                }
            }
        }

        img {
            height: 3rem;
        }

        .nav-actions {
            @include flexbox(null, null, null, null);
            gap: $content-gap;

            @media screen and (max-width: map-get($media-queries, desktop-min)) {
                display: none;
            }

            a {
                @include typography( content, medium, 500, var(--neutral-900) );
            }
        }

        .burger-menu {
            display: none;
            cursor: pointer;
            flex-direction: column;
            gap: .5rem;
            transition: all 0.1s ease;
            z-index: 1000;
            padding: 1rem 0;

            i {
                font-size: 2rem;
            }

            @media screen and (max-width: map-get($media-queries, desktop-min)) {
                @include flexbox(null, null, null, null);
            }

            div[class^="burger-menu-"] {
                height: 2px;
                width: 2rem;
                background-color: var(--neutral-900);
                transition: all 0.1s ease;
            }
        }

        .nav-menu__mobile {
            display : none;
            position: absolute;
            background-color: var(--neutral-300);
            width: 100%;
            height: 100vh;
            right: 0;
            top: 0;
            padding: 1rem;
            z-index: 100;

            .nav-menu__dropdown,
            .nav-menu__item {

                a {
                    @include typography( content, largest, 400, var(--neutral-900) );
                }
            }

            .nav-menu__item {
                padding: .5rem 0;
            }

            .nav-menu__dropdown-title {
                @include typography( content, largest, 400, var(--neutral-900) );
            }

            .nav-mobile_dropdown {
                display: none;
                gap: 1rem;
                background-color: var(--neutral-400);
                padding: 1rem;
                margin: .5rem;

                a {
                    @include typography( content, medium, 400, var(--neutral-900) );
                }
            }

            [type="checkbox"]:checked {
                & ~ .nav-mobile_dropdown {
                    @include flexbox(null, null, column, null);
                }

                & ~ .nav-menu__dropdown-title {
                    i {
                        transform: rotate(180deg);
                        transition: all 0.3s ease;
                    }
                }
            }
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
                position : absolute;
                left     : -9999px;
            }
            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
                position     : relative;
                cursor       : pointer;
            }
        }

        [type="checkbox"]:checked {
            & ~ .nav-menu__mobile {
                display : block;
            }

            & ~ .burger-menu {
                transition: all 0.1s ease;

                .burger-menu-bar:nth-child(1) {
                    height: 2px;
                    width: 2rem;
                    background-color: var(--neutral-900);
                    transform: rotate(45deg);
                    position: absolute;
                    transition: all 0.1s ease;
                }

                .burger-menu-bar:nth-child(2) {
                    display: none;
                    transition: all 0.1s ease;
                }

                .burger-menu-bar:nth-child(3) {
                    height: 2px;
                    width: 2rem;
                    background-color: var(--neutral-900);
                    transform: rotate(-45deg);
                    transition: all 0.1s ease;
                }
            }
        }
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position : absolute;
            left     : -9999px;
        }
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
            position     : relative;
            cursor       : pointer;
        }
    }

    //.nav-container:has( .burger-menu:hover ) {
    //    .nav-menu {
    //        @include flexbox(center, center, column, null);
    //        position: absolute;
    //        background-color: var(--neutral-300);
    //        top: 80px;
    //        left: 0;
    //        right: 0;
    //        bottom: 0;
    //        gap: $content-gap;
    //        z-index: 99;
    //
    //        ul {
    //            @include flexbox(null, null, column, null);
    //            padding: 20px;
    //
    //            li {
    //                a {
    //                    @include typography( content, large, 400, var(--neutral-900) );
    //                    @include flexbox(null, center, null, null);
    //                    gap: $content-gap;
    //                }
    //
    //                .sub-menu {
    //                    position: relative;
    //                    width: 100%;
    //                    height: 0;
    //                    opacity: 0;
    //                    overflow: hidden;
    //                    transition: all 0.1s ease;
    //                    border: none;
    //                    padding: 0;
    //
    //                    ul {
    //                         margin: 0
    //                    }
    //                }
    //            }
    //        }
    //    }
    //}
}
