.partners {
    background-color: var(--neutral-300);

    .partners-container {
        @include container;
        @include flexbox(space-between, null, row, null);
        padding: 2rem 0;

        @media screen and (max-width: map-get($media-queries, desktop-min)) {
            flex-direction: column;
            gap: 2rem;
            padding: 0;

            .partner:before {
                display: none;
            }
        }

        .partner {
            @include flexbox(center, center, null, null);
            gap: 4rem;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                background-color: var(--neutral-300);
                background-blend-mode: luminosity;
                width: 35px;
                height: 100%;
                transform: rotate(45deg);
                margin-left: -300px;
                transition: all .3s linear;
                z-index: 1;
                pointer-events: none;
            }

            img {
                width: 100%;
                height: 2rem;
                opacity: 50%;
                transition: all 0.1s ease;
            }
        }

        .partner:hover {
            img {
                opacity: 100%;
                transform: scale(1.1);
                transition: all 0.1s ease;
            }

            &:before {
                transition: all .3s linear;
                margin-left: 300px;
            }
        }
    }
}
